DokumentOrdner/Entwurfsdokument/~$twurfsdokument.docx
SProject/pom.properties
DokumentOrdner/Entwurfsdokument/~WRL0005.tmp
SProject\target\classes\META-INF\maven\Glurak_4B\4B_Glurak\pom.properties
SProject/target/classes/META-INF/maven/Glurak_4B/4B_Glurak/pom.properties