*.class

# Package Files #
*.jar
*.war
*.ear
DokumentOrdner/Dokumentation/Anwendungsfaelle/~$$Label-Manager Anwendungsfalldiagramm.~vsdx
DokumentOrdner/~$lichtenheftGruppe4B.docx
DokumentOrdner/~WRL0005.tmp
DokumentOrdner/Dokumentation/UML-Diagramme/~$$Paketdiagramm Alpha.~vsdx
